@charset "utf-8";

.movie-container-main{
	width:698px;
	box-sizing: border-box;
	margin:
}

.movie-plan{
	width:698px;
	/*height:300px;*/
	/*background-color: red;*/
	margin:10px 0 10px 0;
}

.movie-container-main h3{
	/*background-color: red;*/
	font-size: 25px;
	margin:5px 0 5px 3px;
}

.movie-plan hr{
	border:1px dashed #999;
}

.movie-plan form{
	margin:10px 0 0 5px;
	/*background-color: red;*/
	position: relative;
}
 
.movie-plan .radio-input{
   display:none;
}

.movie-plan .radio-checked{
	border:1px solid rgba(0,0,0,0.15);
	border-radius: 5px;
	/*background-color: green;*/
	/*padding:3px;*/
	/*color:white;*/
	display:inline-block;
	width:50px;
	height:25px;
	text-align: center;
	margin-left:5px;
	/*增加一个背景的框*/
}

.movie-plan .radio-input:checked + .radio-checked{
	content:"";
	width:46px;
	height:24px;
	background-color: green;
	padding:3px;
	color:white;
	display:inline-block;
	/*给框增加颜色*/
}

.movie-plan .movie-detail{
	margin-top:10px;
}

.movie-detail .location{
	width:200px;
	height:20px;
	margin-left:5px;
	font-family: "微软雅黑";
	font-size: 16px;
}

.movie-plan-button{
	width:80px;
	height:60px;
	line-height:50px;
	margin:8px 5px 0 0;
	background-color: grey;
	text-align: center;
	background-color: green;
	color:white;
	border-radius: 4px;
	font-size:16px;
	position: absolute;
	box-shadow: none;
	border:1px solid green;
	right:0;
	top:0;
}

.movie-plan-button a:link{
	color:white
}

.hot-movie hr{
	border:1px dashed #999;
}

.hot-movie-nav h4 {
	height:40px;
	line-height: 40px;
	float:left;
	margin-left:5px;
}

.hot-movie-nav-ul{
	display: inline-block;
	/*background-color: red;*/
	width:500px;
	height:40px;
	line-height: 40px;
	margin-left:6px;
}

.hot-movie-nav-ul li{
	float:left;
	margin-right:17px;
	
}
.hot-movie-nav-ul .radio-input{
	display: none;
}

.hot-movie-nav-ul .radio-checked{
	border:1px solid rgba(0,0,0,0.15);
	border-radius: 5px;
	/*background-color: green;*/
	padding:3px;
	/*color:white;*/
	display:inline-block;
	width:100%;
	height:25px;
	line-height: 25px;
	text-align: center;
	margin-left:5px;
	vertical-align: middle;
	/*增加一个背景的框*/
}

.hot-movie-nav-ul .radio-input:checked + .radio-checked{
	content:"";
	width:100%;
	height:24px;
	background-color: green;
	padding:3px;
	color:white;
	display:inline-block;
	/*给框增加颜色*/
	/*这里只能给固定宽度，不能根据内容给宽度*/
}


.hot-movie-nav-ul .active{
	background-color: green;
	padding:5px;
	border-radius: 5px;
	color:white;
}

.hot-movie-nav-ul a{
	color:black;
}

.movie-table table{
	width:698px;
	/*min-height:700px;*/
	border-collapse: collapse;
	border:1px solid rgba(0,0,0,0.2);
	text-align: center;
	margin:10px 0;
	line-height: 40px;
}

.hot-movie{
	min-height:780px;
}

.movie-table table th{
	height:50px;
	line-height: 50px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	background-color: #eee;
	}
	
.movie-table table td{	
	height:50px;
	line-height: 50px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

.movie-table table tr:hover{
	background-color: #eee;
}

.movie-table table .price{
	color:red;
}

.movie-table table span{
	display: inline-block;
	width:50px;
	height:40px;
	line-height: 40px;
	background-color:green;
	color:white;
	border-radius: 4px;
}

.movie-table-more td{
	border:none;
}

.movie-table-more a:link{
	color:black;
}
/*LVHA*/