@charset "utf-8";

#hd{
	width:100%;
	min-width: 1000px;
	height:600px;
	background: url(../img/searchbg.png) no-repeat;
	background-position: top center;	
	position: relative;
}

#hd .hd-bg{
	width:600px;
	height:60px;
	background-color: #000;
	position: absolute;
	left:50%;
	top:45%;
	/*margin-left:-300px;*/
	margin:0 0 -50px -300px;
	opacity: 0.6;
	border-radius: 10px;;
}

#hd .search{
	width: 450px;
	height: 48px;
	position: absolute;
	left:50%;
	top:45.5%;
	margin-left:-298px;
	border-radius: 10px;
	padding:0 10px;
	font-size: 24px;
	outline: none;
}

#hd .button{
	width: 120px;
	height: 50px;
	position: absolute;
	left:50%;
	top:45.7%;
	border-radius: 10px;
	font-size: 22px;
	margin-left:178px;
	background-color: deepskyblue;
	cursor:pointer;
	outline: none;
	box-shadow: none;
	border:0px;
	color:white
}
#hd .button:hover{
	background-color: dodgerblue;
}

#bd{
	width:1000px;
	height:880px;
	/*background-color: red;*/
	margin:20px auto;
	text-align: center;
}

#bd .bd-title{
	/*background-color: red;*/
	text-align: center;
	font-family: "microsoft yahei";
}
#bd .bd-title h2{
	font-size:45px;
	color:#666;
	margin:15px;
}
#bd .bd-title p{
	color:#666;
	margin:5px 0;
	letter-spacing: 3px;
	font-size: 20px;
}

#bd .bd-goods{
	text-align: left;
	/*background-color: red;*/
	border:solid 1px #ddd;
	width:300px;
	display: inline-block;
	margin:10px 10px;
	border-radius: 5px;
	position: relative;
}
#bd .bd-goods img{
	vertical-align: middle;
	/*这里不知道为什么,可能和inline-block有关*/
}
#bd .bd-goods figcaption{
	font-size:15px;
	color:#777;
	letter-spacing: 5px;
	margin-left:7px;
	line-height: 1.5;
}
#bd .price{
	position: relative;
}

#bd .bd-goods .price{
	font-size:25px;
	color:#ff318c;
	font-family: "微软雅黑";
	padding-left:5px;
}
#bd .price strong{
	position: absolute;
	right:5px;
	bottom:5px;
	font-size:15px;
	color:#777;
}

#bd .type p{
	background-color: green;
	width:80px;
	color:white;
	font-family: "微软雅黑";
	text-align: center;
	position: absolute;
	left:0px;
	top:0px;
}
