@charset "utf-8";

body,h1,ul{
	margin:0;
	padding:0;
}

#nav{
	background-color: whitesmoke;
	height:70px;
	width:100%;
	min-width: 1000px;
	box-shadow: 3px 3px 5px gray ;
	position: relative;
	z-index: 9999;
	/*最底层容器，需要自适应宽度*/
}

#nav .center{
	width:1000px;
	height:70px;
	margin:0 auto;
	/*装logo和导航的容器，垂直居中*/
}

#nav .logo{
	height:70px;
	width:256px;
	margin:0;
	background-image:url(../img/logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
	/*h1是logo，脱离文档流和底部容器nav同基准*/
}

#nav > section > ul{
	height:70px;
	width:400px;
	list-style: outside none none;
	/*去掉序号符号*/
	/*background-color: red;*/
	float: left;
	/*脱离文档流和h1同一基准*/
	margin-left:220px;
	font-weight: bold;
	font-family: "microsoft yahei";
}

#nav > section > ul > li{
	/*background-color:red ;*/
    float:left;
	height:70px;
	width:80px;
	line-height: 70px;
	/*行高=容器高度=居中*/
}

#nav > section > ul > li > a{
	text-decoration: none;
	color:black;
	/*background-color: red;*/
	height:70px;
	display: block;
	margin:0 1px;
	text-align: center;
	font-style: normal;
}	

#nav > section > ul > li > a:hover{
	  background-color: gainsboro;
	  font-size: 16.5px;
	}

#searchbg{
	width:100%;
	min-width: 1000px;
	height:600px;
	background: url(../img/searchbg.png) no-repeat;
	background-position: top center;	
	position: relative;
}

#searchbg .content{
	width:600px;
	height:60px;
	background-color: #000;
	position: absolute;
	left:50%;
	top:45%;
	/*margin-left:-300px;*/
	margin:0 0 -50px -300px;
	opacity: 0.6;
	border-radius: 10px;;
}

#searchbg .search{
	width: 450px;
	height: 48px;
	position: absolute;
	left:50%;
	top:45.5%;
	margin-left:-298px;
	border-radius: 10px;
	padding:0 10px;
	font-size: 24px;
	outline: none;
}

#searchbg .button{
	width: 120px;
	height: 50px;
	position: absolute;
	left:50%;
	top:45.7%;
	border-radius: 10px;
	font-size: 22px;
	margin-left:178px;
	background-color: deepskyblue;
	cursor:pointer;
	outline: none;
	box-shadow: none;
	border:0px;
	color:white
}
#searchbg .button:hover{
	background-color: dodgerblue;
}

